/* font */

.primary-color {
   color: $primary-color;
}

.success-color {
   color: $success-color;
}

.warning-color {
   color: $warning-color;
}

.danger-color {
   color: $danger-color;
}

.info-color {
   color: $info-color;
}
